
body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    font-family: "Nunito", serif;
    color:white;
    font-weight: 300;
}

button {
    height:100px;
    width:100px;
    border-radius: 50%;
    border:none;
    background-color:rgb(255, 203, 112);
    color:white;
    letter-spacing: 2px;
    text-transform: uppercase;
}

i {
    font-size: 50px;
}

h2 {
    letter-spacing: 1px;
    text-transform: lowercase;
    font-weight: 400;
    font-size: 15px;
    padding:5px 20px;
    background-color: rgb(142, 185, 255);
    border-radius: 20px;
    color:white;

}

#customAlert {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:max-content;
    padding:20px;
    gap:2.5px;
    text-align: center;
    position:fixed; 
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%); 
    background-color:white;
    color:rgb(82, 82, 118); 
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(131, 129, 154, 0.196) ;
}


#customAlert button {


    height:30px;
    width:80px;
    border:none;
    background-color:  rgb(142, 185, 255);
    border-radius: 20px;
    color:white;
    text-transform:capitalize;
    font-size: 12px;
    margin-top: 10px;
}

#customAlert p {
    width:60%;
    margin: 0;
    font-size: 15px;
    line-height: 18px;

}

#customAlert h1 {
    margin: 0;
    font-weight: 400;
    font-size: 20px;

}
